
.cont  {
	background: white;
	color: white;
	font-size: 1em;
}

.row1  {
	background: black;
}

.roomtext  {
	height: 100%;
}

#textwindow  {
	background: lightgray;
	color: black;
	width: 450px;
	height: 275px;
	overflow-y: auto;
}

#textwindow p  {
	//background: green;
	margin: 0em;
}

#d-pad  {
	background: blue;
	width: 210px;
	height: 210px;
	margin: 10px;
	border-radius: 5px;
}

.dpadButton  {
	background: red;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.dpadButton:hover  {
	cursor: pointer;
}

.dpadrow  {
	height: 70px;
}

.dpadcont  {
	display: flex;
	align-items: center;
	justify-content: center;
}

#two  {
	display: inline-block;
}

#twopointfive  {
	display: inline-block;
}

.actions  {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
}

.interact  {
	flex-grow: 1;
}

#mapback  {
	background: tan;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.herostats  {
	background: tan;
	color: black;
	height: 275px;
	font-size: 1.5em;
	border-right: thin solid black;
	border-top: thin solid black;
}

.herostats h1  {
	text-decoration: underline;
}

.herostats p  {
	margin: 0;
}

.stats  {
	border: thin solid black;
}

.statsrowone  {
	width: 100%;
}

.statsrowtwo {
	width: 100%;
}

.skills  {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.skills p  {
	color: black;
	font-size-adjust: .3;
	margin: 5px 10px;
}

.maproom  {
	background: white;
	width: 16px;
	height: 16px;
	margin: 1px;
	padding: 1px;
}

#x-11y9  {
	background: green;
}

.previousroom  {
	background: black;
}

.ndirections  {
	background: url("./images/ndirections.png");
}

.sdirections  {
	background: url("./images/sdirections.png");
}

.edirections  {
	background: url("./images/edirections.png");
}

.wdirections  {
	background: url("./images/wdirections.png");
}

.nsdirections  {
	background: url("./images/nsdirections.png");
}

.nedirections  {
	background: url("./images/nedirections.png");
}

.nwdirections  {
	background: url("./images/nwdirections.png");
}

.sedirections  {
	background: url("./images/sedirections.png");
}

.swdirections  {
	background: url("./images/swdirections.png");
}

.ewdirections  {
	background: url("./images/ewdirections.png");
}

.nsedirections  {
	background: url("./images/nsedirections.png");
}

.nswdirections  {
	background: url("./images/nswdirections.png");
}

.newdirections  {
	background: url("./images/newdirections.png");
}

.sewdirections  {
	background: url("./images/sewdirections.png");
}

.fourdirections  {
	background: url("./images/fourdirections.png");
}

.currentroom  {
	background: red;
}